/* ==================================================================

*   TGIN Media Queries

DOC : 

1. screenwidth greater than 1024px (Medium Screen/Large Tablets)
2. screenwidth less than 1024px (Medium Screen/Large Tablets)
3. screenwidth less than 960px (Mobile wide/Smaller Tablets)
4. screenwidth less than 768px (Mobile wide/Smaller Tablets)
5. screenwidth greater than 480px (Medium Screen Mobile)


/* ================================================================== */



/* Screens Resolution : 1365px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 1365px) {
li.product {
    min-height: 400px !important;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    width: 25% !important;
}
#adv_team_4_columns_carousel>.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    width: 23% !important;
}
.full-width-content ul.products li:nth-child(4n+1), .woocommerce-page .full-width-content ul.products li:nth-child(4n+1) {
    margin-left: 0% !important;
}
.adv_left {
    left: 0px!important;
}
span.woocommerce-Price-amount.amount {
    font-size: 14px !important;
}

}

/* Screens Resolution : 1024px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 1024px) {

}

/* Screens Resolution : 991px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 991px) {
.item ul.products li.product {
    width: 100% !important;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
    width: 46% !important;
}
ul.imgheight li { padding: 0px;}
#adv_team_4_columns_carousel li {
    width: 46% !important;
}
}
/* Screens Resolution : 767px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 767px) {
.sign_up{text-align:center;}
.container-wrap, .project-title {
	padding-bottom: 0px;
}
#topseller h4 {
    text-align: center;
	font-size: 24px;
}
ul.sub-menu {
    top: 0px !important;
}
#adv_team_4_columns_carousel li {
    width: 46% !important;
}

.sec-heading h2 {
    font-size: 30px !important;
    line-height: 46px !important;
}
#adv_team_4_columns_carousel li {
    width: 100% !important;
}
ul.products.columns-4 {
    padding: 0px 20px !important;
}
a.button.product_type_variable.add_to_cart_button.add_to_cart_button {
    float: right;
}
.sort-by { margin-bottom: 10px;}
.col-md-7.woocommerce-result-count {
    margin-left: 20px !important;
    margin-bottom: 10px;
}
}
/* Screens Resolution : 479px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 479px) {
ul.imgheight li {
    padding: 0px !important;
}
#adv_team_4_columns_carousel li {
    width: 100% !important;
}
.woocommerce ul.products li.product, .woocommerce-page ul.products li.product{
	width: 100% !important;
	margin-left: 0% !important;
}

}
/* Screens Resolution : 359px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 359px) {

}
