@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/********** 2. RESET STYLES **********/
body {
    font-family: 'Open Sans', sans-serif;
}
*{margin:0; padding:0;}

.mp0{margin:0; padding:0;}
/*========== SEARCH =============*/
#top {
    padding: 20px 0px;
}

#imaginary_container{
    margin-top:1%;
		margin-bottom: 2%;/* Don't copy this */
}
header .stylish-input-group .input-group-addon{
    background: #fafafa !important;
}
header .stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#7d7d7d;
}
header .stylish-input-group button{
    border:0;
    background:transparent;
}
header .form-control {
    height: 40px;
	background-color: #fafafa;
	border-radius: 2px;
}
header .input-group-addon {
    border: 1px solid #7d7d7d;
	border-radius: 2px;
}
/*=============cart========*/
header .cart-pop {
    min-width: 190px;
}
header .nav>li {
    position: relative;
    display: block;
}
header .nav>li a {
    color: #222;
}
header .cart-pop li a {
    padding: 0px !important;
}
header .cart-pop .itm-cont {
    position: absolute;
    height: 20px;
    width: 20px;
    position: absolute;
    display: inline-block;
    background: #0088cc;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    color: #fff;
    left: 35px;
    font-size: 12px;
}
header .cart-pop .fa-shopping-cart {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
    line-height: 50px;
    color: #686868;
    background: #eeeeee;
    float: left;
    text-align: center;
    font-size: 26px;
}
header .nav>li>a:focus, .nav>li>a:hover {
    background: none;
}
header .nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
	background: none;
}

/*================ Menu ================*/
#shopmenu{
	background-color:#000000;
}
.navbar-default {
    background-color: #000;
    border-color: #000;
}
#shopmenu .navbar {
    margin-bottom: 0px;
	border: 0px;
}
#shopmenu .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #5c5c5c;
}
#shopmenu .navbar-default .navbar-nav>li>a {
    color: #fff;
}
/*========== banner ============*/

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
   /* height: 286px; */
}
.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #fff;
}
#sliderstyle .carousel-indicators .active {
    width: 14px;
    height: 14px;
    margin: 0;
    background-color: #2d2d2d;
}
#sliderstyle .carousel-indicators li {
    border: 0;
    background: #959394;
	width: 14px;
    height: 14px;
	margin:0px;
}
/*===========Top seller =============*/

.team_columns_carousel_wrapper {
    padding: 25px 0px;
    overflow: hidden
}
.team_columns_carousel_control_left,
.team_columns_carousel_control_right {
    top: 26px;
    z-index: 2;
    opacity: 1;
    width: 35px;
    height: 35px;
    border: 0;
    text-shadow: none;
    text-align: center;
    -webkit-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s
}
.team_columns_carousel_control_icons {
    font-size: 20px!important;
    font-weight: normal!important;
    margin-top:8px;
}
.team_columns_carousel_control_left {
    left: 26px!important
}
.team_columns_carousel_control_right {
    left: 63px!important
}
.adv_left {
    left: 96px!important
}
.adv_right {
    left: 133px!important
}
.team_columns_item_image {
    padding-top: 60px;
    padding-bottom: 25px
}
.team_columns_item_image img {
    width: 100%;
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%)
    -webkit-transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
    -ms-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s
}
.team_columns_item_image:hover img {

	    -webkit-filter: grayscale(70%);
    -moz-filter: grayscale(70%);
    -ms-filter: grayscale(70%);
    -o-filter: grayscale(70%);
    filter: grayscale(70%);
}
.team_columns_item_caption {
    padding: 10px 0px;
    font-size: 13px;
}

@media(min-width:768px) and (max-width:789px) {
    .adv_team_columns_item_social a, .adv_team_columns_item_social a:visited {
        margin-right: 0
    }

}
@media(max-width:768px){
.four_shows_one_move .cloneditem-1,
.four_shows_one_move .cloneditem-2,
.four_shows_one_move .cloneditem-3 {
    display: none
}
}
.team_columns_carousel_wrapper {
    background: #fff
}
.team_columns_carousel_control_left,
.team_columns_carousel_control_left:hover,
.team_columns_carousel_control_left:active,
.team_columns_carousel_control_left:focus,
.team_columns_carousel_control_right,
.team_columns_carousel_control_right:hover,
.team_columns_carousel_control_right:active,
.team_columns_carousel_control_right:focus {
    color: #fff;
    background: #afafaf!important;
}

.team_columns_item_caption>hr {
    border-top: 2px solid #feb600
}
.team_columns_item_caption p a,
.team_columns_item_caption p a:visited {
    color: #feb600
}
.team_columns_item_caption p a:hover,
.team_columns_item_caption p a:active {
    color: #cb9200
}
.team_columns_item_social a,
.team_columns_item_social a:visited {
    color: #171717;
    background: #feb600
}
.team_columns_item_social a:hover,
.team_columns_item_social a:active {
    background: #cb9200
}



/*--------- Reviews--------*/
p.rev {
    font-size: 12px;
    color: #7f7f7f;
    margin-top: 5px;
}
.price {
    font-weight: bold;
    color: #333333;
    float: left;
	padding: 4px 8px;
}
.price span {
    color: #aaaaaa;
    text-decoration: line-through;
    font-weight: normal;
    margin-left: 10px;
}
/*---------- right side ---------*/
#newrelease h4 {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    padding-top: 20px;
    font-family: sans-serif;
}
#topseller h4{
    font-size: 16px;
    font-weight: bold;
    color: #333333;
    padding-top: 30px;
    font-family: sans-serif;
}
#topseller {
    border-bottom: 1px solid #eee;
	padding-left: 20px;
}

div#btnsyle {
    border-bottom: 1px solid #eee;
    display: list-item;
    padding-top: 67px;
    list-style-type: none;
}

/*============== product ==============*/
.sort-by select {
    padding: 6px 22px;
	font-size: 12px;
}
.sort-by {
    font-size: 13px;
}
.product_heading {
    font-size: 24px;
    font-weight: bold;
    color: #000;
}
.product_heading::before {
  content: url(../images/hd_line.png);
}
.product_heading::after {
  content: url(../images/hd_line.png);
}
#productheading {
    padding: 20px 0px;
    margin-bottom: 20px;
}
#productbx a.cart-btn {
    float: right;
	color: #333;
	text-decoration: none;
	padding: 4px 8px;
	border: 1px solid #fff;
}
#productbx .thumbnail.product_item{
	border:0px;
}
#productbx .thumbnail.product_item:hover {
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
	border-radius: 0px;
	-webkit-transition: box-shadow .2s ease-in-out;
    -o-transition: box-shadow .2s ease-in-out;
    transition: box-shadow .2s ease-in-out;
}
#productbx .thumbnail .caption {
    margin-bottom: 20px;
}
.product_item:hover .wishlist a {
    opacity: 1;
    transition: 0.3s all;
	color:#c5c5c5;
}

.wishlist a {
    opacity: 0;
}
#productbx .thumbnail:hover a.cart-btn{
    padding: 4px 8px;
    border-radius: 2px;
    border: 1px solid #bdbdbd;
    -webkit-transition: opacity 2s ease-in;
    -moz-transition: opacity 2s ease-in;
    -o-transition: opacity 2s ease-in;
    -ms-transition: opacity 2s ease-in;
    transition: opacity 2s ease-in;
}

/*---------------30-08-2018-------------------*/
/*----slides bottom--*/
.slides-bottom {  background-color:#eeeeee;
				 padding:25px;
				 border-top:2px solid #fff;
				 color:#989595;
				 font-size:20px;
				}
.slides-bottom a {  color:#989595; font-size:20px; text-decoration:none; }


/*--multiple slide gallery--*/
.singel_right {
	margin-top: 3em;
}
.span_1_of_a1 {
	width: 36.2%;
}
.labout {
	display: block;
	float: left;
	margin: 0 3.6% 0 0;
}

.cont1 {
	display: block;
	float: left;
}
.span_2_of_a1 {
	width:60.1%;
	font-family: 'Roboto', sans-serif;
}
.span_2_of_a1 h1{
	color:#333;
	text-transform:uppercase;
	font-size:1.5em;
	font-weight:bold;
}
ul.rating{
	padding:0px 0px 10px;
	list-style:none;
	border-bottom: 1px dashed #ddd;
}
ul.rating li{
	float: left;
	font-size: 17px;
}
ul.rating li a{
	color: #08080B;
	padding: 0.1em 0;
	font-size: 0.8em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
}
ul.rating li a:hover, .price_single a:hover, ul.size li a:hover{
	color:#ee4a02;
	text-decoration:none;
}
.product-rate label {
	width: 54px;
	height: 24px;
	display: inline-block;
	background: url(../images/img-sprite.png) no-repeat -155px -56px;
	margin-right: 5px;
}
.price_single {
	font-size:1.3em;
	margin: 0.5em 0 1.5em;
}
span.reducedfrom {
	text-decoration: line-through;
	margin-right: 3%;
	color: #555;
}
span.actual {
	color:#ee4a02;
	font-size: 1em;
	margin-right: 5%;
}
.price_single a {
	color: #999;
	font-size: 13px;
}
h2.quick{
	color:#555;
	font-size:0.85em;
	text-transform:uppercase;
}
p.quick_desc{
	color:#999;
	font-size:16px;
	line-height:1.8em;
	border-bottom: 1px dashed #ddd;
	padding-bottom:10px;
}
ul.size{
	padding:0;
	list-style:none;
	margin-top:2em;
}
ul.size h3{
	color: #555;
	font-size: 0.85em;
	text-transform: uppercase;
}
ul.size li {
	display: inline-block;
	margin: 0 10px 0 0;
}
ul.size li a {
	color: #555;
	font-size: 0.8125em;
	background:#fff;
	padding: 5px 10px;
}
ul.product-qty{
	padding:0;
	list-style:none;
}
.product-qty span {
	color: #555;
	font-size: 0.85em;
	padding-bottom: 0.5em;
	display: block;
	text-transform: uppercase;
	margin-top: 2em;
}
.product-qty select {
	border: 1px solid #eee;
	padding: 0.5em;
	font-size: 1em;
	outline: none;
}
.product-qty option {
	border: 1px solid #EEE;
}
.btn_form form input[type="submit"] {
	cursor: pointer;
	border: none;
	outline: none;
	display: inline-block;
	font-size: 1em;
	padding: 13px 20px;
	background: #fb4d01;
	color: #FFF;
	text-transform: uppercase;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	margin-top: 2em;
}
.btn_form form input[type="submit"]:hover{
	background: #ee4a02;
}
h3.like, h3.recent{
	color: #333;
	font-size: 1.7em;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	font-weight: bold;
	margin-bottom: 1em;
}
h3.recent{
	padding-top:2em;
}
#flexiselDemo1, #flexiselDemo3 {
	display: none;
}
.nbs-flexisel-container {
	position: relative;
	max-width: 100%;
}
.nbs-flexisel-ul {
	position: relative;
	width: 9999px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	text-align: center;
}
.nbs-flexisel-inner {
	overflow: hidden;
	margin: 0 auto;
}
.nbs-flexisel-item {
	float: left;
	margin:0px;
	padding:0px;
	cursor: pointer;
	position: relative;
	line-height: 0px;
}
.nbs-flexisel-item > img {
	cursor: pointer;
	position: relative;
	margin-top:10px;
	margin-bottom: 10px;
	max-width:350px;
	max-height:500px;
}
.grid-flex{
	margin:10px 0 20px 0;
	font-family: 'Roboto', sans-serif;
}
.nbs-flexisel-item a {
	color: #000;
	font-size:0.8125em;
	text-transform:uppercase;
}
.nbs-flexisel-item a:hover{
	color:#555;
}
.nbs-flexisel-item p {
	color: #000;
	font-size: 0.85em;
	padding-top: 25px;
}
.nbs-flexisel-item > img {
	cursor: pointer;
	positon: relative;
}


@media only screen and (max-width:480px) {
.resp-tabs-container{
	padding:10px;
}
ul.resp-tabs-list {
  	display: none;
}
h2.resp-accordion {
  	display: block;
}
.resp-vtabs .resp-tab-content {
  	border: 1px solid #C1C1C1;
}
.resp-vtabs .resp-tabs-container {
	border: none;
	float: none;
	width: 100%;
	min-height: initial;
	clear: none;
}
.resp-accordion-closed {
	display: none !important;
}
}
ul.tab_list{
	list-style: none;
	padding:1em;
}
ul.tab_list li {
	margin-bottom: 10px;
}
ul.tab_list li a {
	color: #888;
	font-size: 0.8125em;
	line-height: 1.8em;
	vertical-align: top;
	text-decoration: none;
}
ul.tab_list li a:hover {
	color:#333;
}
/*--login--*/



/*--responsive design--*/

@media (max-width:1024px){

.view .mask, .view .content {
	top: 8em;
	left: 4.5em;
}


.etalage_zoom_area div {
    width:350px !important;
    height:350px !important;
}
.span_2_of_a1 {
	width: 50.1%;
	margin-left: 4em;
}
ul.size li {
	margin: 0 1px 0 0;
}
.contact_logo {
	left: 4em;
}
}
@media (max-width:800px){
.banner_right h1 {
	font-size: 2em;
}
.banner_right p {
	font-size: 0.85em;
}
.wmuSliderPrev {
	left: 41em;
}
.bannertop_box {
	width: 27%;
}
ul.quick_access, ul.login{
	padding: 5px 10px;
}

.apparel_box {
	width: 27%;
}
}
@media (max-width:640px){

.wmuSliderPrev {
	left: 33em;
}
.bannertop_box {
	width: 31%;
}
.header_right {
	width: 48%;
	margin-top: 3em;
}
.wmuSliderPagination a {
	width: 30px;
}
.search input[type="text"] {
	width: 81.5%;
}


.wmuSliderPagination {
	bottom: 0em;
}
.banner_btn {
	padding: 8px 15px;
	margin-top: 1em;
	font-size: 0.8125em;
}
.wmuSliderPagination {
	bottom: -2px;
}
h3.menu_head {
	padding: 1em 0 1em 3em;
}
.view .mask, .view .content {
	top: 7em;
	left: 3.5em;
}

.product_container {
	padding: 1em 0;
}

.apparel_box {
	width: 31%;
}
p.cart_desc {
	font-size: 0.85em;
	margin-top: 10px;
}

.span_2_of_a1 {
	width: 100%;
	margin-left: 0;
}
.etalage_zoom_area div {
    width:250px !important;
    height:250px !important;
}
}
@media (max-width:480px){
.wmuSliderPrev {
	left: 23em;
}
.banner_right {
	display: none;
}
.bannertop_box {
	width:43%;
}
.header {
	background-size: 100% 100%;
	padding-bottom: 1em;
}
.view .mask, .view .content {
	top: 5em;
	left: 2.5em;
	font-size: 0.8125em;
	padding: 5px;
}
.side_banner .banner_holder {
	left: -11em;
}
.brands {
	padding: 10px;
}
ul.brand_icons li {
	width: 20.2%;
}
ul.instagram_grid li img {
	border: 2px solid #fff;
}
ul.instagram_grid li {
	width: 15.2%;
	margin-right:6px;
}
.instagram h3 {
	font-size: 1em;
}
span.small {
	font-size: 14px;
}
.apparel_box {
	width: 41%;
}
.etalage_zoom_area div {
    width:100px !important;
    height:100px !important;
}

.resp-tabs-container {
	padding:0;
}
}
@media (max-width:320px){

ul.social {
	margin:0;
}

.bannertop_box {
	width: 66%;
}
.wmuSliderPrev {
	left: 13em;
}
.wmuSliderPagination {
	right: 26%;
	bottom:0px;
}
.side_banner .banner_holder h3 {
	font-size: 30px;
}
h3.m_1 {
	font-size:1em;
}
.span_1_of_3 {
	width: 70.6%;
}
.view .mask, .view .content {
	top: 8em;
	left: 4.5em;
}
h3.m_2 {
	font-size: 1em;
	margin-top: 2em;
}
ul.brand_icons li {
	width: 18.2%;
}
ul.instagram_grid li {
	width: 15.4%;
	margin-right: 4px;
}


.apparel_box {
	width: 64%;
}
.span_2_of_a1 h1 {
	font-size: 1.2em;
}

h3.like, h3.recent {
	font-size: 1.2em;
}

}
/*---description-review--*/

.desc-review .nav-pills>li>a {
    border-radius: 0px;
	color:black;
	font-size: 15px;
	
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #313131;
}
.desc-review .nav-pills>li {
	background-color:#f3f0ed;
}

.desc-review .tab-content {border: 1px solid #e4e3e3;
    padding: 26px;
	color:#8c8989;
	font-size:16px;
}
.etalage .img-border { padding:10px; border: 5px solid #fdd; }

 .price_single .btn {background: transparent;
    border: 1px solid #ddd;
    border-radius: 50px;
    padding: 3px 23px;
    margin-bottom: 10px;
 }

.cart-button .add-cart {border-radius: 0;
    background: #353535;
    padding: 9px;
    color: #ffff;
	    font-size: 17px;
		border-radius: 3px;
}
.cart-button .add-cart i {padding-right:5px;}


.size .add { background-color: #eeeeee;
		padding: 8px 12px;
    color: #4c4c4c;
    font-size: 14px;
	}
.size .add i {padding-right:5px;}
.size .soci-icon {
	                border: 1px solid #eeeeee;				
					color: #4c4c4c;
					 font-size: 14px;
} 
.size .soci-icon i { font-weight:bold; }





